# File
*.db
*.suo

# Unreal Engine
Engine/
FeaturePacks/
Build
Intermediate

# Robo Recall
RoboRecall/Binaries/
RoboRecall/Config/
RoboRecall/Content/
RoboRecall/Debug/
RoboRecall/Releases/
RoboRecall/Saved/
RoboRecall/Source/

# Other Plugins
RoboRecall/Plugins/FortniteWeapons/
RoboRecall/Plugins/OdinEditor/
RoboRecall/Plugins/Paragon_Kallari/
RoboRecall/Plugins/UnrealTournament/

#Jekyll
_site/
Gemfile.lock
.gem